.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.caja { 
  background-color: rgb(82, 115, 151);
  border-radius: 10px;  
  margin: 2px;  
}

/*.flex-container {

  display: flex;      

  background-color: #bbdefb;
  height: 90%;
  padding: 15px;
  gap: 5px;

}

.flex-container > div{
  background: rgb(82, 115, 151);
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}*/

.container {  
  
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "uno dos";
}

.uno { 
  grid-area: uno; 
  background: rgb(82, 115, 151);
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.dos { 
  grid-area: dos; 
  background: #527397;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.card2{
  background: #FFFFFF;
}
